<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h2>Search</h2>
    <form method="GET">
        <input type="text" name="q" placeholder="Search.....">
        <button type="submit">Search</button>
    </form>

    <h3>Users</h3>
    <ul>
        {% for user in users %}
        <li>{{user.username}}</li>
        {% endfor %}
    </ul>

    <h3>Songs</h3>
    <ul>
        {% for song in songs %}
        <li>{{song.title}}</li>
        {% endfor %}
    </ul>

    <h3>Playlists</h3>
    <ul>
        {% for playlist in playlists %}
        <li>{{playlist.name}}</li>
        {% endfor %}
    </ul>

    
    
</body>
</html>